* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 0.375em;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/league_gothic-webfont.eot");
  src: url("/fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/league_gothic-webfont.woff") format("woff"), url("/fonts/league_gothic-webfont.ttf") format("truetype"), url("/fonts/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OstrichSansMedium';
  src: url("/fonts/ostrich-regular-webfont.eot");
  src: url("/fonts/ostrich-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ostrich-regular-webfont.woff") format("woff"), url("/fonts/ostrich-regular-webfont.ttf") format("truetype"), url("/fonts/ostrich-regular-webfont.svg#OstrichSansMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RNicons';
  src: url("/fonts/rn-icons.eot");
  src: url("/fonts/rn-icons.eot?#iefix") format("embedded-opentype"), url("/fonts/rn-icons.woff") format("woff"), url("/fonts/rn-icons.ttf") format("truetype"), url("/fonts/rn-icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
deviantart: "\e000" &#57344

feed: "\e001" &#57345

twitter: "\e002" &#57346

google-plus: "\e005" &#57349

forrst: "\e006" &#57350

dribbble: "\e003" &#57347

codepen "\e004" &#57348

linkedin: "\e007" &#57351

star: "\2729" &#10025

arrow-right: "\27f6" &#10230

arrow-left: "\27f5" &#10229

heart: "\2764" &#10084

headphones: "\e008" &#57352

*/
@media screen {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }

  q, blockquote {
    quotes: none;
  }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }

  a img {
    border: none;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }

  /* For image replacement */
  .ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .ir br {
    display: none;
  }

  .screen-reader-text {
    /* Reusable, toolbox kind of class */
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /*
   * Hide from both screenreaders and browsers: h5bp.com/u
   */
  /*
   * Hide only visually, but have it available for screenreaders: h5bp.com/v
   */
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  /*
   * Hide visually and from screenreaders, but maintain layout
   */
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  .hotspots:before, .module-animation ul:before, .post-nav:before, #archive-featured:before,
  .hotspots:after,
  .module-animation ul:after,
  .post-nav:after,
  #archive-featured:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }

  .hotspots:after, .module-animation ul:after, .post-nav:after, #archive-featured:after {
    clear: both;
  }

  .page-title, .entry-title {
    font-size: 2.5em;
    line-height: 1.2em;
    font-family: "OstrichSansMedium", sans-serif;
    text-transform: uppercase;
    padding-top: 1.35em;
    padding-bottom: 0.3em;
  }

  .main a:link, .home-module a:link, .main a:visited, .home-module a:visited, .main a:hover, .home-module a:hover, .main a:active, .home-module a:active {
    color: #56001d;
  }
  .main a:visited, .home-module a:visited {
    color: #23000c;
  }

  body {
    background: #e3edf2;
    font-family: sans-serif;
  }

  .container {
    background: #141f31;
    *zoom: 1;
    max-width: 1130px;
    _width: 1130px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  [data-icon]:before {
    font-family: 'RNicons';
    /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none;
    /* Not to be trusted, but hey. */
  }

  #body-archives .nav-archives, #body-post .nav-archives, #body-about .nav-about {
    color: #c774b3 !important;
  }

  .masthead {
    background: #141f31;
    color: #fff;
    width: 19.46903%;
    float: left;
    margin-right: 3.53982%;
    display: inline;
    margin-right: 1.76991%;
    text-align: right;
  }
  .masthead .site-logo {
    font-size: 1.5em;
    line-height: 0.66667em;
    margin-bottom: 0.66667em;
    margin-top: 0.33333em;
  }
  .masthead .site-logo .icon {
    font-size: .6em;
    margin-right: .25em;
    position: relative;
    top: -.25em;
  }
  .masthead .site-logo:link, .masthead .site-logo:visited {
    color: #fff;
  }
  .masthead .site-logo:hover, .masthead .site-logo:active, .masthead .site-logo:focus {
    color: #e64988;
  }
  .masthead nav {
    font-family: "LeagueGothicRegular", sans-serif;
    text-transform: uppercase;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 1.5em;
    line-height: 1em;
  }
  .masthead a {
    display: block;
  }
  .masthead a:link, .masthead a:visited, .masthead a:hover, .masthead a:active {
    color: #a69feb;
    text-decoration: none;
  }
  .masthead a:hover, .masthead a:active, .masthead a:focus, .masthead .logo:hover, .masthead .logo:active, .masthead .logo:focus {
    color: #e64988;
  }

  .main {
    background: #e3edf2;
    color: #141f31;
    width: 65.48673%;
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
    padding-left: 13.27434%;
    position: relative;
    line-height: 1.5em;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  .headline {
    font-family: "OstrichSansMedium", sans-serif;
    font-size: 3em;
    line-height: 1.125em;
  }

  .page-section {
    margin-bottom: 2.25em;
  }

  .copyright {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    font-size: 0.75em;
    line-height: 1.5em;
  }

  #body-home {
    background: #141f31;
  }
  #body-home .container {
    max-width: 100%;
  }
  #body-home strong {
    font-weight: normal;
  }
  #body-home em {
    font-style: normal;
  }

  .main-show {
    width: 53.9823%;
    float: left;
    margin-right: 3.53982%;
    display: inline;
  }

  .main-crossroads {
    background: #e3edf2;
    width: 30.97345%;
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
    padding-left: 1.76991%;
    padding-right: 3.53982%;
    position: relative;
  }

  .main-tagline {
    color: #e64988;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 2.25em;
    line-height: 1em;
    text-align: center;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  .main-tagline strong {
    font-family: "OstrichSansMedium", sans-serif;
    font-size: 2.33333em;
    line-height: 0.42857em;
  }
  .main-tagline em {
    display: block;
    font-size: 0.66667em;
    line-height: 1.5em;
  }
  .main-tagline a:link, .main-tagline a:visited, .main-tagline a:hover, .main-tagline a:active {
    color: #fff;
  }
  .main-tagline [data-icon]:before {
    display: inline;
    font-size: .5em;
    position: relative;
    top: -.2em;
  }

  .home-module {
    margin-bottom: 2.25em;
  }
  .home-module time, .home-module .source {
    color: #333b47;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 0.75em;
    line-height: 1.5em;
    white-space: nowrap;
  }
  .home-module header {
    position: absolute;
    left: -48.57143%;
    text-align: right;
    width: 42.85714%;
  }
  .home-module header a {
    font-size: 0.875em;
    line-height: 1.28571em;
  }
  .home-module header a:link, .home-module header a:visited, .home-module header a:hover, .home-module header a:active {
    color: #0097c0;
  }
  .home-module ul {
    line-height: 1.5em;
    padding-top: 0.75em;
  }
  .home-module li {
    margin-bottom: 0.75em;
  }

  .home-module-title {
    color: #fff;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 2em;
    line-height: 1.125em;
    text-transform: uppercase;
  }
  .home-module-title [data-icon]:before {
    font-size: .8em;
    margin-right: .15em;
  }

  .hotspots {
    background: #333b47;
    color: #fff;
    font-family: "OstrichSansMedium", sans-serif;
    margin-left: -5.71429%;
    padding-left: 5.71429%;
    padding-right: 11.42857%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-transform: uppercase;
    width: 100%;
  }
  .hotspots .mixes {
    background: #333b47;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding-top: 1.5em;
    padding-bottom: 0.75em;
    width: 4.875em;
    height: 2.625em;
    position: absolute;
    top: 0;
    left: -2.4375em;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
  }
  .hotspots .mixes .icon {
    display: block;
    font-size: 1.25em;
  }
  .hotspots .mixes a {
    position: relative;
    left: -0.8125em;
  }
  .hotspots .mixes a:link, .hotspots .mixes a:visited, .hotspots .mixes a:hover, .hotspots .mixes a:active {
    color: #0097c0;
    text-decoration: none;
    -webkit-transition: color, ease-in, 0.25s;
    -moz-transition: color, ease-in, 0.25s;
    -o-transition: color, ease-in, 0.25s;
    transition: color, ease-in, 0.25s;
  }
  .hotspots .mixes a:hover, .hotspots .mixes a:active, .hotspots .mixes a:focus {
    color: #e64988;
  }
  .hotspots .bravado {
    font-size: 3em;
    line-height: 0.75em;
    position: relative;
    float: left;
    width: 3.25em;
  }
  .hotspots .bravado strong {
    font-family: "LeagueGothicRegular", sans-serif;
    position: absolute;
    top: 1.5em;
    right: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    font-size: 0.5em;
    line-height: 1.5em;
  }
  .hotspots .site-cons {
    padding-top: 0.3em;
    font-size: 4em;
    line-height: 0.5625em;
    float: right;
    text-align: right;
    width: 2.25em;
  }
  .hotspots .site-cons a {
    float: right;
  }
  .hotspots .site-cons .i_codepen {
    margin-right: .15em;
  }
  .hotspots a:link, .hotspots a:visited, .hotspots a:hover, .hotspots a:active {
    color: #0097c0;
    text-decoration: none;
    -webkit-transition: color, ease-in, 0.25s;
    -moz-transition: color, ease-in, 0.25s;
    -o-transition: color, ease-in, 0.25s;
    transition: color, ease-in, 0.25s;
  }
  .hotspots a:hover, .hotspots a:active, .hotspots a:focus {
    color: #e64988;
  }

  #dribbblins {
    clear: both;
    padding-top: 1.5em;
  }
  #dribbblins li {
    background: #e64988;
    line-height: 0;
    width: 25.71429%;
    float: left;
    margin-right: 11.42857%;
    display: inline;
    width: 32%;
    margin: 0 2% 0 0;
  }
  #dribbblins li:nth-child(3) {
    margin: 0;
  }
  #dribbblins img {
    height: auto;
    width: 100%;
    -webkit-transition: background, ease-in, 0.25s;
    -moz-transition: background, ease-in, 0.25s;
    -o-transition: background, ease-in, 0.25s;
    transition: background, ease-in, 0.25s;
  }
  #dribbblins a {
    display: block;
    height: 100%;
  }
  #dribbblins a:hover img, #dribbblins a:active img, #dribbblins a:focus img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }

  .module-animation ul {
    padding-top: .25em;
  }
  .module-animation li {
    background: #e64988;
    line-height: 0;
    float: left;
    overflow: hidden;
    position: relative;
    width: 47%;
  }
  .module-animation li:nth-child(even) {
    float: right;
  }
  .module-animation li:nth-child(odd) {
    clear: both;
  }
  .module-animation img {
    height: auto;
    width: 100%;
    -webkit-transition: opacity, ease-in, 0.25s;
    -moz-transition: opacity, ease-in, 0.25s;
    -o-transition: opacity, ease-in, 0.25s;
    transition: opacity, ease-in, 0.25s;
  }
  .module-animation a:link, .module-animation a:visited, .module-animation a:hover, .module-animation a:active {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
  }
  .module-animation .anim-title {
    background: rgba(29, 134, 163, 0.9);
    display: block;
    line-height: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5.71429%;
    width: 100%;
    -webkit-transition: background, ease-in, 0.25s;
    -moz-transition: background, ease-in, 0.25s;
    -o-transition: background, ease-in, 0.25s;
    transition: background, ease-in, 0.25s;
  }
  .module-animation a:hover .anim-title, .module-animation a:active .anim-title, .module-animation a:focus .anim-title {
    background: rgba(220, 83, 138, 0.8);
  }
  .module-animation a:hover img, .module-animation a:active img, .module-animation a:focus img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }

  .home-footer {
    margin-bottom: 2.25em;
  }
  .home-footer li {
    font-size: 1.5em;
    line-height: 1.25em;
    display: inline-block;
    margin-right: .25em;
    margin-bottom: 0.5em;
  }
  .home-footer .contact {
    font-size: 2.25em;
    line-height: 1em;
    font-family: "LeagueGothicRegular", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color, ease-in, 0.25s;
    -moz-transition: color, ease-in, 0.25s;
    -o-transition: color, ease-in, 0.25s;
    transition: color, ease-in, 0.25s;
  }
  .home-footer .contact:link, .home-footer .contact:visited {
    color: #0097c0;
  }
  .home-footer .contact:hover, .home-footer .contact:active, .home-footer .contact:focus {
    color: #e64988;
  }
  .home-footer .icon {
    font-size: .8em;
  }

  .social-footer a {
    background: #0097c0;
    display: block;
    font-size: rythm(6);
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #e3edf2 !important;
    padding: 0.25em 0.25em 0;
    text-decoration: none;
    -webkit-transition: background, ease-in, 0.25s;
    -moz-transition: background, ease-in, 0.25s;
    -o-transition: background, ease-in, 0.25s;
    transition: background, ease-in, 0.25s;
  }
  .social-footer a:hover, .social-footer a:active, .social-footer a:focus {
    background: #e64988;
  }

  @-moz-keyframes show {
    100% {
      opacity: 1;
    }
}

  @-webkit-keyframes show {
    100% {
      opacity: 1;
    }
}

  @-o-keyframes show {
    100% {
      opacity: 1;
    }
}

  @-ms-keyframes show {
    100% {
      opacity: 1;
    }
}

  @keyframes show {
    100% {
      opacity: 1;
    }
}

  @-moz-keyframes hide {
    100% {
      opacity: 0;
    }
}

  @-webkit-keyframes hide {
    100% {
      opacity: 0;
    }
}

  @-o-keyframes hide {
    100% {
      opacity: 0;
    }
}

  @-ms-keyframes hide {
    100% {
      opacity: 0;
    }
}

  @keyframes hide {
    100% {
      opacity: 0;
    }
}

  @-moz-keyframes pfft {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -121px;
    }
}

  @-webkit-keyframes pfft {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -121px;
    }
}

  @-o-keyframes pfft {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -121px;
    }
}

  @-ms-keyframes pfft {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -121px;
    }
}

  @keyframes pfft {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -121px;
    }
}

  @-moz-keyframes haha {
    0% {
      background-position: 0 -243px;
    }

    100% {
      background-position: 0 -486px;
    }
}

  @-webkit-keyframes haha {
    0% {
      background-position: 0 -243px;
    }

    100% {
      background-position: 0 -486px;
    }
}

  @-o-keyframes haha {
    0% {
      background-position: 0 -243px;
    }

    100% {
      background-position: 0 -486px;
    }
}

  @-ms-keyframes haha {
    0% {
      background-position: 0 -243px;
    }

    100% {
      background-position: 0 -486px;
    }
}

  @keyframes haha {
    0% {
      background-position: 0 -243px;
    }

    100% {
      background-position: 0 -486px;
    }
}

  @-moz-keyframes oops {
    0% {
      background-position: 0 -486px;
    }

    100% {
      background-position: 0 -607px;
    }
}

  @-webkit-keyframes oops {
    0% {
      background-position: 0 -486px;
    }

    100% {
      background-position: 0 -607px;
    }
}

  @-o-keyframes oops {
    0% {
      background-position: 0 -486px;
    }

    100% {
      background-position: 0 -607px;
    }
}

  @-ms-keyframes oops {
    0% {
      background-position: 0 -486px;
    }

    100% {
      background-position: 0 -607px;
    }
}

  @keyframes oops {
    0% {
      background-position: 0 -486px;
    }

    100% {
      background-position: 0 -607px;
    }
}

  @-moz-keyframes uh-oh {
    0%, 100% {
      margin-left: 0;
    }

    25% {
      margin-left: 7px;
    }

    75% {
      margin-left: -7px;
    }
}

  @-webkit-keyframes uh-oh {
    0%, 100% {
      margin-left: 0;
    }

    25% {
      margin-left: 7px;
    }

    75% {
      margin-left: -7px;
    }
}

  @-o-keyframes uh-oh {
    0%, 100% {
      margin-left: 0;
    }

    25% {
      margin-left: 7px;
    }

    75% {
      margin-left: -7px;
    }
}

  @-ms-keyframes uh-oh {
    0%, 100% {
      margin-left: 0;
    }

    25% {
      margin-left: 7px;
    }

    75% {
      margin-left: -7px;
    }
}

  @keyframes uh-oh {
    0%, 100% {
      margin-left: 0;
    }

    25% {
      margin-left: 7px;
    }

    75% {
      margin-left: -7px;
    }
}

  @-moz-keyframes spin {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -1015px;
    }
}

  @-webkit-keyframes spin {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -1015px;
    }
}

  @-o-keyframes spin {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -1015px;
    }
}

  @-ms-keyframes spin {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -1015px;
    }
}

  @keyframes spin {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -1015px;
    }
}

  .featurette {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
  .featurette .body {
    background: url(http://stash.rachelnabors.com/codepen/spinner/bg_spinner-body.png);
    left: 50%;
    margin-left: -62px;
    width: 224px;
    height: 332px;
  }
  .featurette .message p:nth-child(1) {
    -webkit-animation: show 0.5s 1 forwards, hide 0.5s 1 3s forwards;
    -moz-animation: show 0.5s 1 forwards, hide 0.5s 1 3s forwards;
    -ms-animation: show 0.5s 1 forwards, hide 0.5s 1 3s forwards;
    -o-animation: show 0.5s 1 forwards, hide 0.5s 1 3s forwards;
    animation: show 0.5s 1 forwards, hide 0.5s 1 3s forwards;
  }
  .featurette .message p:nth-child(2) {
    -webkit-animation: show 0.5s 1 4s forwards, hide 0.5s 1 7s forwards;
    -moz-animation: show 0.5s 1 4s forwards, hide 0.5s 1 7s forwards;
    -ms-animation: show 0.5s 1 4s forwards, hide 0.5s 1 7s forwards;
    -o-animation: show 0.5s 1 4s forwards, hide 0.5s 1 7s forwards;
    animation: show 0.5s 1 4s forwards, hide 0.5s 1 7s forwards;
  }
  .featurette .message p:nth-child(3) {
    -webkit-animation: show 0.5s 1 9s forwards, hide 0.5s 1 10s forwards;
    -moz-animation: show 0.5s 1 9s forwards, hide 0.5s 1 10s forwards;
    -ms-animation: show 0.5s 1 9s forwards, hide 0.5s 1 10s forwards;
    -o-animation: show 0.5s 1 9s forwards, hide 0.5s 1 10s forwards;
    animation: show 0.5s 1 9s forwards, hide 0.5s 1 10s forwards;
  }
  .featurette .message p:nth-child(4) {
    -webkit-animation: show 0.5s 1 11s forwards, hide 0.5s 1 12s forwards;
    -moz-animation: show 0.5s 1 11s forwards, hide 0.5s 1 12s forwards;
    -ms-animation: show 0.5s 1 11s forwards, hide 0.5s 1 12s forwards;
    -o-animation: show 0.5s 1 11s forwards, hide 0.5s 1 12s forwards;
    animation: show 0.5s 1 11s forwards, hide 0.5s 1 12s forwards;
  }
  .featurette .message p:nth-child(5) {
    -webkit-animation: show 0.5s 1 12s forwards, hide 0.5s 1 16s forwards;
    -moz-animation: show 0.5s 1 12s forwards, hide 0.5s 1 16s forwards;
    -ms-animation: show 0.5s 1 12s forwards, hide 0.5s 1 16s forwards;
    -o-animation: show 0.5s 1 12s forwards, hide 0.5s 1 16s forwards;
    animation: show 0.5s 1 12s forwards, hide 0.5s 1 16s forwards;
  }
  .featurette .message p:nth-child(6) {
    -webkit-animation: show 0.5s 1 17s forwards, hide 0.5s 1 21s forwards;
    -moz-animation: show 0.5s 1 17s forwards, hide 0.5s 1 21s forwards;
    -ms-animation: show 0.5s 1 17s forwards, hide 0.5s 1 21s forwards;
    -o-animation: show 0.5s 1 17s forwards, hide 0.5s 1 21s forwards;
    animation: show 0.5s 1 17s forwards, hide 0.5s 1 21s forwards;
  }
  .featurette .message p:nth-child(7) {
    -webkit-animation: show 0.5s 1 26s forwards;
    -moz-animation: show 0.5s 1 26s forwards;
    -ms-animation: show 0.5s 1 26s forwards;
    -o-animation: show 0.5s 1 26s forwards;
    animation: show 0.5s 1 26s forwards;
  }
  .featurette .face {
    -webkit-animation: pfft 1s steps(1) 1 8s, haha 0.5s steps(2, end) 11s 10, oops 10s steps(1) 16s 1;
    -moz-animation: pfft 1s steps(1) 1 8s, haha 0.5s steps(2, end) 11s 10, oops 10s steps(1) 16s 1;
    -ms-animation: pfft 1s steps(1) 1 8s, haha 0.5s steps(2, end) 11s 10, oops 10s steps(1) 16s 1;
    -o-animation: pfft 1s steps(1) 1 8s, haha 0.5s steps(2, end) 11s 10, oops 10s steps(1) 16s 1;
    animation: pfft 1s steps(1) 1 8s, haha 0.5s steps(2, end) 11s 10, oops 10s steps(1) 16s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: url(http://stash.rachelnabors.com/codepen/spinner/sprite_spinner-expressions.png);
    top: 73px;
    left: 120px;
    width: 133px;
    height: 121px;
  }
  .featurette .pupils {
    background: url(http://stash.rachelnabors.com/codepen/spinner/bg_spinner-pupils.png);
    opacity: 0;
    top: 47px;
    left: 27px;
    width: 72px;
    height: 12px;
    -webkit-animation: show 0.01s linear 1 16s forwards, uh-oh 5s 1 18s, hide 0.01s linear 1 26s forwards;
    -moz-animation: show 0.01s linear 1 16s forwards, uh-oh 5s 1 18s, hide 0.01s linear 1 26s forwards;
    -ms-animation: show 0.01s linear 1 16s forwards, uh-oh 5s 1 18s, hide 0.01s linear 1 26s forwards;
    -o-animation: show 0.01s linear 1 16s forwards, uh-oh 5s 1 18s, hide 0.01s linear 1 26s forwards;
    animation: show 0.01s linear 1 16s forwards, uh-oh 5s 1 18s, hide 0.01s linear 1 26s forwards;
  }
  .featurette .hands {
    -webkit-animation: spin 0.5s steps(5) infinite;
    -moz-animation: spin 0.5s steps(5) infinite;
    -ms-animation: spin 0.5s steps(5) infinite;
    -o-animation: spin 0.5s steps(5) infinite;
    animation: spin 0.5s steps(5) infinite;
    background: url(http://stash.rachelnabors.com/codepen/spinner/sprite_spinner-hands.png);
    width: 307px;
    height: 202px;
  }
  .featurette .rachel {
    width: 307px;
    height: 332px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -152px;
    margin-top: -166px;
  }
  .featurette .rachel .ir {
    position: absolute;
    bottom: 0;
  }
  .featurette .spinner {
    background: #e64988;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 52.7027%;
    height: 15em;
  }
  .featurette .message {
    color: #e3edf2;
    margin: 0 auto;
    position: relative;
    width: 52.7027%;
    height: 1.5em;
  }
  .featurette .message p {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    padding-top: 0.75em;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .hentry, #comments {
    width: 82.43243%;
    float: left;
    margin-right: 5.40541%;
    display: inline;
    margin-right: 11.50442%;
  }

  .entry-header {
    padding-bottom: 1.5em;
  }

  header .meta {
    font-size: 0.875em;
    line-height: 1.28571em;
    font-family: "Georgia", serif;
    font-style: italic;
  }
  header .meta a:link, header .meta a:visited, header .meta a:hover, header .meta a:active, header .meta a:focus {
    color: black;
  }

  .entry-title {
    padding-bottom: 0;
  }

  .entry-content p, .entry-content ul, .entry-content ol {
    padding-bottom: 1.5em;
  }
  .entry-content ul, .entry-content ol {
    margin-left: 6.55738%;
  }
  .entry-content ol {
    list-style: decimal outside;
  }
  .entry-content ul li:before {
    font-family: 'RNicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\2729";
    margin-left: -1em;
  }
  .entry-content li {
    padding-bottom: 0.75em;
  }
  .entry-content h2, .entry-content h3 {
    font-size: 2em;
    line-height: 1.125em;
    padding-top: 0.375em;
    padding-bottom: 0.1875em;
    line-height: 1.125em;
    text-transform: uppercase;
  }
  .entry-content h2 {
    font-family: "LeagueGothicRegular", sans-serif;
  }
  .entry-content h3 {
    font-family: "OstrichSansMedium", sans-serif;
  }
  .entry-content a {
    padding: 2px;
  }
  .entry-content a:link {
    color: #56001d;
  }
  .entry-content a:visited {
    color: #23000c;
  }
  .entry-content a:hover, .entry-content a:active, .entry-content a:focus {
    background: #e64988;
    color: #fff;
    text-decoration: none;
  }
  .entry-content img {
    max-width: 100%;
    height: auto;
  }
  .entry-content figure {
    line-height: 0;
    margin-left: -20.32787%;
    text-align: center;
    width: 142.62295%;
    padding-bottom: 1.5em;
  }
  .entry-content figcaption {
    font-size: 0.875em;
    line-height: 1.28571em;
    line-height: 1.71429em;
    padding-top: 0.85714em;
    font-family: "Georgia", serif;
    font-style: italic;
    margin: 0 auto;
    width: 70.11494%;
  }
  .entry-content figcaption em, .entry-content figcaption i {
    font-style: normal;
  }
  .entry-content code {
    color: #c774b3;
    font-family: monospace;
  }
  .entry-content pre {
    background: #c774b3;
    color: #fff;
    font-family: monospace;
    font-size: 0.875em;
    line-height: 1.28571em;
    margin-left: -3.27869%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    padding: 0 3.27869%;
    padding-top: 0.85714em;
    padding-bottom: 0.85714em;
    margin-bottom: 1.71429em;
    width: 106.55738%;
  }
  .entry-content cite {
    font-style: italic;
  }
  .entry-content blockquote {
    color: #5f697a;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 2em;
    line-height: 1.125em;
    margin: 0 auto;
    padding-bottom: 0.75em;
    line-height: 1.5em;
    width: 63.93443%;
    text-align: center;
  }
  .entry-content blockquote:before {
    content: "\201C";
  }
  .entry-content blockquote:after {
    content: "\201D";
  }
  .entry-content blockquote + p cite {
    color: #778295;
    margin: 0 auto;
    width: 63.93443%;
    font-family: "Georgia", serif;
    font-size: 0.875em;
    line-height: 1.28571em;
    display: block;
    text-align: right;
    padding-bottom: 0.75em;
    margin-top: -1.125em;
  }
  .entry-content blockquote + p cite:before {
    content: "\2014";
  }

  .post-nav {
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 0.3125em;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.3125em;
    margin-bottom: 1.5em;
    border-color: #001f27;
  }
  .post-nav a:link, .post-nav a:visited, .post-nav a:hover, .post-nav a:active, .post-nav a:focus {
    color: #001f27;
  }

  .prev-post {
    width: 36.06557%;
    float: left;
    margin-right: 6.55738%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .next-post {
    width: 36.06557%;
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: right;
  }

  #comments h1 {
    font-size: 2em;
    line-height: 1.125em;
    padding-top: 0.375em;
    padding-bottom: 0.1875em;
    line-height: 1.125em;
    text-transform: uppercase;
    font-family: "LeagueGothicRegular", sans-serif;
  }

  #archive-featured li {
    width: 29.72973%;
    float: left;
    margin-right: 5.40541%;
    display: inline;
    height: 12em;
    overflow: hidden;
    position: relative;
  }
  #archive-featured li:nth-child(3) {
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
  }
  #archive-featured img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  #archive-featured h3 {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 1.5em;
    line-height: 1.25em;
    background: #e3edf2;
    font-family: "LeagueGothicRegular", sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-decoration: none;
  }

  .gsc-control-cse {
    background: none !important;
    border: none !important;
    margin-bottom: 3em;
    padding: 0 !important;
  }

  #archive-list {
    font-family: "LeagueGothicRegular", sans-serif;
  }
  #archive-list h2 {
    color: #5f697a;
    font-size: 2em;
    line-height: 1.125em;
  }
  #archive-list > li {
    margin-bottom: 1.5em;
    width: 47.2973%;
    float: left;
    margin-right: 5.40541%;
    display: inline;
  }
  #archive-list > li:nth-child(even) {
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
    float: left;
  }
  #archive-list > li:nth-child(odd) {
    clear: left;
  }
  #archive-list li li {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    line-height: 1.25em;
  }
}
/* =============================================================================
   Print Styles
   ========================================================================== */
