---
title: "Blog Archives"
layout: default
body_id: archives
---

<section id="archive-featured" class="page-section">
  <ul>
{% for post in site.posts %}
  {% if post.featured %}
    <li>
      <a href="{{ post.url }}">
        <img src="{{ post.featured-image }}" />
        <h3>{{ post.title }}</h3>
      </a>   
    </li>
  {% endif %}
{% endfor %}
  </ul>
</section>

<div class="archive-search page-section">
  <script>
    (function() {
      var cx = '002428664232771263876:m1vbqio4y8u';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>

<ul id="archive-list" class="page-section">
  {% for post in site.posts %}

    {% unless post.next %}
      <li>
        <h2>{{ post.date | date: '%Y' }}</h2>
        <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
          </ul>
        </li>
        <li>
          <h2>{{ post.date | date: '%Y' }}</h2>
          <ul>
      {% endif %}
    {% endunless %}

    <li><!-- {{ post.date | date:"%b" }}  --><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>