---
title: "Web animation talks and slides"
body_id: speaking
excerpt: Rachel Nabors travels the world speaking about web animation, UX, and even cartooning!
---

<h1>Speaking, Talks, and Slides</h1>
{% include schedule-speaking.html %}

<section class="available-to-speak cta">
    <h2 class="cta-title">Available for speaking engagements</h2>
  	<div class="cta-content">
      I take pride in my talks, and I enjoy traveling to deliver them to great people. If your company or event could benefit from learning about web animation, motion design, or cartooning, <a href="mailto:aloha@rachelnabors.com">drop me a line</a>.
    </div>
    <a href="mailto:aloha@rachelnabors.com" class="big-cta">Let's talk!</a>
</section>

<section class="current-talks">
  <h2>Talks I'm giving now</h2>
  <div class="talk">
    <h3>State of the Animation</h3>
    <div class="audience-meta">
      <h4>Audience</h4>
      <p>Developers, designers</p>
      <h4>Links</h4>
      <p><a href="http://www.slideshare.net/CrowChick/state-of-the-animation-2014">Slides</a> | <a href="https://fronteers.nl/congres/2014/sessions/rachel-nabors-state-of-the-animation-2014">Recording</a></p>
    </div>
    <p>The post-Flash era is hardly free of animation. CSS animation is quickly becoming a cornerstone of user-friendly UI frameworks, and JavaScript libraries already exist to handle complex, interactive animations. And now there’s a new API coming to town specifically for web animations! In the wake of so much “CSS vs. JavaScript animation” infighting, you'll be introduced to the Web Animations API via the development styles and insights of four distinct groups of people: UI designers, interaction developers, library authors, and the browser teams implementing it.</p>
  </div>

  <div class="talk">
    <h3>Animating the User's Experience</h3>
    <div class="audience-meta">
      <h4>Audience</h4>
      <p>Designers, UXers, UI designers</p>
      <h4>Links</h4>
      <p><a href="http://www.slideshare.net/CrowChick/animation-and-the-future-of-ux-33573726">Slides</a> | <a href="http://www.futureinsights.com/home/video-advent-calendar-day-15-animation-and-the-future-of-ux.html">Recording</a></p>
    </div>
    <p>Since the widespread adoption of CSS animations and transitions, animation has started creeping back into web design. Loading screens and “flashy” intros are back, as well as subtle UI interactions that invisibly plus the user’s experience. Learn the six applications of motion in interface designs, how you can apply them in your own projects, and when to start planning for motion in your process.</p>
  </div>
</section>

<section class="slides">
  <h2>Slides &amp; Recordings</h2>
  <ul>
  	<li><a href="http://www.slideshare.net/CrowChick/state-of-the-animation-2014">State of the Animation 2014</a> | <a href="https://fronteers.nl/congres/2014/sessions/rachel-nabors-state-of-the-animation-2014">Recording</a></li>
  	<li><a href="https://medium.com/@rachelnabors/storytelling-on-the-shoulders-of-giants-a57a850b935d">Storytelling on the Shoulders of Giants OSCON Keynote</a> | <a href="https://www.youtube.com/watch?v=Q9CB7EiU9xg">Recording</a></li>
  	<li><a href="http://www.slideshare.net/CrowChick/animation-and-the-future-of-ux-33573726">Animation and the Future of UX</a> | <a href="http://www.futureinsights.com/home/video-advent-calendar-day-15-animation-and-the-future-of-ux.html">Recording</a></li>
  	<li><a href="http://rachelnabors.com/alice-in-videoland/talk/">Alice in Videoland: Building an interactive storybook in HTML5</a></li>
  	<li><a href="http://rachelnabors.com/css-amv-talk/">Animated Music Videos Talk</a> | <a href="https://vimeo.com/89400965">Recording</a></li>
  	<li><a href="http://rachelnabors.com/animation-workshop/">Animated Music Videos Workshop</a></li>
  	<li><a href="http://rachelnabors.com/javascript-for-designers/">JavaScript for Designers</a> | <a href="http://www.youtube.com/watch?v=rkR0RCfI0XM">Recording</a></li>
  	<li><a href="http://rachelnabors.com/css-amv-talk/animation-power-techniques.html">Animation Studio Power Techniques with CSS3</a> | <a href="http://www.youtube.com/watch?v=iFUGSiz0Muc">Recording</a></li>
  </ul>
</section>

<section class="speaking-history">
  <h2>Speaking Timeline</h2>

{% assign next_year = 'now' | date: "%Y" %}

{% for event in site.events reversed %}

  {% capture this_year %}{{ event.date | date: "%Y" }}{% endcapture %}
  {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}

    {% if forloop.first %}
    <section class="speaking-history_current speaking-history_era" id="talks-from-{{ this_year }}-ref">
      <h3>{{ this_year }}</h3>
      <ul>
    {% elsif this_year != next_year %}
      </ul>
    </section>
    {% case this_year %}
      {% when "2012" %}
    <div class="speaking-history_light speaking-history_era">
      <section class="speaking-history_col1 speaking-history_col" id="talks-from-{{ this_year }}-ref">
      {% when "2011" %}
      <section class="speaking-history_col2 speaking-history_col" id="talks-from-{{ this_year }}-ref">
      {% else %}
    <section class="speaking-history_bulk speaking-history_era" id="talks-from-{{ this_year }}-ref">
    {% endcase %}
        <h3>{{this_year}}</h3>
            {% case this_year %}
              {% when "2015" %}
                <figure>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/GxOq1bnlZXk" frameborder="0" allowfullscreen></iframe>
                  <figcaption>Delivering the State of the Animation at SFHTML5</figcaption>
                </figure>
              {% when "2014" %}
                <figure>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9CB7EiU9xg" frameborder="0" allowfullscreen></iframe>
                  <figcaption>Keynoting at OSCON</figcaption>
                </figure>
              {% when "2013" %}
                <figure>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/zd9fVvVQUVs" frameborder="0" allowfullscreen></iframe>
                  <figcaption>Lightning Talk on <em>wabi-sabi</em> at Fluent</figcaption>
                </figure>
            {% endcase %}
          <ul>
        {% endif %}

        {% unless event.canceled %}
        <li>
        <time>{{ event.date | date: "%b" }}</time>
        <span class="event">
          <div class="event-deets">
          {% if event.talkUrl %}<a href="{{ event.talkUrl }}">{% elsif event.eventUrl %}<a href="{{ event.eventUrl }}">{% endif %}{{ event.name }}{% if event.url or event.talkUrl %}</a>{% endif %}, {{ event.location }}
          </div>
          {% if event.talkSlides or event.talkRecording or event.feedback %}
          <ul class="materials">
            {% if event.talkSlides %}
            <li><a href="{{event.talkSlides}}">Slides</a></li>
            {% endif %}
            {% if event.talkRecording %}
            <li><a href="{{event.talkRecording}}">Recording</a></li>
            {% endif %}
            {% if event.feedback %}
            <li><a href="{{event.talkfeedback}}">Feedback</a></li>
            {% endif %}
          </ul>
          {% endif %}
          {% if event.keynote %}
            <div class="keynote"><span class="type">Keynote</span> {{ event.keynote }}</div>
          {% endif %}

          {% if event.talk %}
          <div class="talk">
            <span class="type">Talk</span> {{ event.talk }}
          </div>{% endif %}

          {% if event.workshop %}
          <div class="workshop">
            <span class="type">Workshop</span> {% if event.workshopUrl %}<a href="{{ event.workshopUrl }}">{% endif %}{% if event.workshop %}{{ event.workshop }}{% else %}workshop{% endif %}{% if event.workshopUrl %}</a>{% endif %}
          </div>
          {% endif %}

          {% if event.lightningTalkRecording or event.lightningTalkSlides %}
            <div class="lightning-talk"><span class="type">Lightning Talk</span> <a href="{% if event.lightningTalkRecording %}{{event.lightningTalkRecording}}{% elsif event.lightningTalkSlides %}{{event.lightningTalkSlides}}{% endif %}">{{event.lightningTalk}}</a></div>
          {% endif %}
        </span></li>

        {% endunless %}
    {% if forloop.last %}
      </ul>
    </section>
  </div>
    {% endif %}

    {% assign next_year = event.date | date: "%Y" %}

{% endfor %}
</section>