<section class="module module-animation">
    <h2 class="module-title"><span class="icon-alone">
              <span aria-hidden="true" data-icon="&#10084;"></span>
              <span class="screen-reader-text">Fave</span>
            </span> Animation Projects</h2>
    <ul>
        <li><a href="http://rachelnabors.com/blackbrickroad">
            <img src="/img/tn-anim-bbr47.jpg" />
            <span class="anim-title">The Black Brick Road to Oz #47</span>
        </a></li><li><a href="http://rachelnabors.com/alice-in-videoland/book/">
            <img src="/img/tn-anim-alice1.png" />
            <span class="anim-title">Alice in Videoland</span>
        </a></li><li><a href="http://cdpn.io/lqswg">
            <img src="/img/tn-anim-bbr11.jpg" />
            <span class="anim-title">The Black Brick Road to Oz #11</span>
        </a></li><li><a href="http://codepen.io/rachelnabors/full/rCost">
            <img src="/img/tn-anim-byakkoya.png" />
            <span class="anim-title">The Cat in Byakkoya</span>
        </a></li>
    </ul>
    <!-- <a href="/animation" class="moar">More animations to love&hellip;</a> -->
</section>