<section class="module module-writings">
    <h2 class="module-title">Featured Writings</h2>
    <ul>
        <li><a href="http://24ways.org/2014/five-ways-to-animate-responsibly/">Five Ways to Animate Responsibly</a> <a href="http://la-cascade.ghost.io/5-facons-danimer-de-maniere-responsable/">Français</a> <span class="source">24 Ways</span></li>
        <li><a href="http://www.smashingmagazine.com/2014/11/18/the-state-of-animation-2014/">The State of the Animation 2014</a> <span class="source">Smashing Mag</span></li>
        <li><a href="http://alistapart.com/article/web-animation-at-work">Web Animation at Work</a> <span class="source">A List Apart</span></li>
        <li><a href="http://www.adobe.com/inspire/2013/12/interactive-html5-storybook.html?trackingid=KJGDU&amp;PID=7114730">Alice in Videoland: Designing an interactive HTML5 storybook</a> <span class="source">Adobe Inspire</span></li>
        <li><a href="http://24ways.org/2012/flashless-animation/">Flashless Animation</a> <span class="source">24 Ways</span></li>
    </ul>
</section>