<div class="featurette" aria-hidden="true">
    <div class="spinner">
      <div class="rachel">
        <div class="body ir"></div>
        <div class="face ir">
          <div class="pupils ir"></div>
        </div>
        <div class="hands ir"></div>
      </div>
    </div>

    <div class="message">
      <p>Loading...</p>
      <p>Still Loading...</p>
      <p>Pfft.</p>
      <p><strong>GOTCHA!</strong></p>
      <p>You actually thought something was going to happen!</p>
      <p>Oh wait...</p>
      <p>dammit.</p>
    </div>
</div>
