<div class="masthead">
	<nav role="navigation">
		<a href="/">Home</a>
		<a href="/projects" class="nav-projects" data-nav-loc="loc-projects">Projects</a>
		<a href="/archive" class="nav-archives" data-nav-loc="loc-archives">Writing</a>
			<a href="http://courses.rachelnabors.com">Courses</a>
			<a href="/speaking" class="nav-speaking" data-nav-loc="loc-speaking">Speaking</a>
		<a href="/about" class="nav-about" data-nav-loc="loc-about">About</a>
		<a href="http://eepurl.com/Gxv1j">Mailing List</a>
		<a href="mailto:aloha@rachelnabors.com">Email</a>
	</nav>
</div>
