<div class="masthead-wrapper">
	<div class="masthead">
		<div class="masthead-content">
			<div class="site-logo">
				<a href="/">
					<img src="/img/graphics/sig.png" alt="Home" />
				</a>
				<!-- <span aria-hidden="true" data-icon="&#10025;" class="icon"></span> -->
			</div>
			<div class="rachel" id="magic-face">
				<a href="/" id="self-port">
					<img src="/img/graphics/p_self.png" alt="Rachel Nabors" />
				</a>
				<!-- Only show this on first login, then fade out. In future, only show on hover. -->
				<p class="balloon balloon1">
					Howdy! I'm Rachel Nabors, <a href="http://rachelthegreat.com">Award-winning cartoonist</a>, <a href="/speaking">international speaker</a>, making <a href="/animation">stories with code</a>.</p>
				<p class="balloon balloon2">I
					<span class="icon-alone">
					  <span aria-hidden="true" data-icon="&#10084;"></span>
					  <span class="screen-reader-text">love</span>
					</span>
					 web animation so much, I run the <a href="http://webanimationweekly.com">Web Animation Weekly newsletter</a>.
				</p>
			</div>
			<h4 class="toc">Table of Contents</h4>
			<nav role="navigation">
	<!-- 			<a href="/animations" class="nav-animations" data-nav-loc="loc-animations">Animations</a>
	 -->
	 			<a href="/consulting" class="nav-consulting" data-nav-loc="loc-consulting">Consulting</a>
	 			<a href="/speaking" class="nav-speaking" data-nav-loc="loc-speaking">Speaking</a>
		        <a href="/training" class="nav-training" data-nav-loc="loc-training">Training</a>
				<a href="/archive" class="nav-archives" data-nav-loc="loc-archives">Writing</a>
	 			<a href="http://courses.rachelnabors.com">Courses</a>
				<a href="/about" class="nav-about" data-nav-loc="loc-about">Street Cred</a>
			</nav>

			<h4 class="in-touch">Stay in touch!</h4>
			<nav>
				<a href="http://eepurl.com/Gxv1j">Mailing List</a>
				<a href="mailto:aloha@rachelnabors.com">Email</a>
			</nav>
			<ul class="social-footer">
				<li>
					<a href="http://feeds.feedburner.com/RachelNabors">
						<span aria-hidden="true" data-icon="&#57345;"></span>
						<span class="screen-reader-text">RSS</span>
					</a>
				</li>
				<li>
					<a href="http://rachelthegreat.deviantart.com/">
						<span aria-hidden="true" data-icon="&#57344;"></span>
						<span class="screen-reader-text">deviantart</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/rachelnabors">
						<span aria-hidden="true" data-icon="&#57346;"></span>
						<span class="screen-reader-text">Twitter</span>
					</a>
				</li>
				<li>
					<a href="http://dribbble.com/rachelthegreat">
						<span aria-hidden="true" data-icon="&#57347;"></span>
						<span class="screen-reader-text">dribbble</span>
					</a>
				</li>
				<li>
					<a href="http://codepen.io/rachelnabors/">
						<span aria-hidden="true" data-icon="&#57348;"></span>
						<span class="screen-reader-text">codepen</span>
					</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/rachelnabors">
						<span aria-hidden="true" data-icon="&#57351;"></span>
						<span class="screen-reader-text">LinkedIn</span>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/u/0/112759714536392308749">
						<span aria-hidden="true" data-icon="&#57349;"></span>
						<span class="screen-reader-text">Google Plus</span>
					</a>
				</li>
				<li>
					<a href="http://open.spotify.com/user/rachelnabors">
						<span aria-hidden="true" data-icon="&#57352;" class="icon"></span>
						<span class="screen-reader-text">Mixes</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>