<div class="schedule-workshops">
    <h2>Online Training</h2>
    <ul>
        <li><span class="source">UIE</span> <span class="event"><a href="http://aycl.uie.com/virtual_seminars/integrating_animation_into_your_design">Improve <abbr title="User Experience">UX</abbr> With Animation</a></span></li>
        <li><span class="source">Learn with Rachel Nabors</span> <span class="event"><a href="http://www.tinmagpie.training/">Practical Cartooning for Technical Folk</a></span></li>
        <li><span class="source">Frontend Masters</span> <span class="event"><a href="http://frontendmasters.com/courses/animation-storytelling-html5-css3/cutout-animations-css/?partner=1">Storytelling and Animation with CSS3 and HTML5</a></span></li>
    </ul>
</div>