<div class="schedule-workshops">
    <h2>Online Workshops</h2>
    <ul>
        <li><time>Apr 2</time> <span class="source">UIE</span> <span class="event"><a href="http://aycl.uie.com/virtual_seminars/integrating_animation_into_your_design"> Improve UX with Animation</a></span></li>
        <li><time>Jun 30</time> <span class="source">Smashing Online</span> <span class="event"><a href="https://shop.smashingmagazine.com/online-workshop-animation-essentials.html">Animation Essentials: CSS Animations and Transitions</a></span></li>
        <li><time>Open Enrollment</time> <span class="source">Learn with Rachel Nabors</span> <span class="event"><a href="http://www.tinmagpie.training/">Practical Cartooning for Technical Folk</a></span></li>
    </ul>
</div>