<div class="schedule-speaking">
    <h2>Speaking <span>Schedule</span></h2>
    <ul>
        <li><time>May 9&ndash;13</time> <span class="event"><a href="http://lanyrd.com/2015/btconfdus/">Beyond Tellerand, D&uuml;sseldorf</a> &amp; <a href="http://beyondtellerrand.com/events/duesseldorf-2015/workshops/the-dom-in-motion">DOM in Motion workshop</a></span></li>
        <li><time>Jun 24&ndash;26</time> <span class="event"><a href="http://www.webdirections.org/code15/">Code, Melbourne</a> &amp; DOM in Motion workshop</span></li>
    </ul>
</div>