<div class="schedule-workshops">
    <h2>Online Workshops</h2>
    <ul>
        <li><time>Jun 30</time> <span class="source">Smashing Online</span> <span class="event"><a href="https://shop.smashingmagazine.com/online-workshop-animation-essentials.html">Animation Essentials: CSS Animations and Transitions</a></span></li>
        <li><time>Open Enrollment</time> <span class="source">Learn with Rachel Nabors</span> <span class="event"><a href="http://www.tinmagpie.training/">Practical Cartooning for Technical Folk</a></span></li>
    </ul>
</div>