<div class="schedule-speaking">
    <h2>Speaking <span>Schedule</span></h2>
    <ul>
        <li><time>Mar 26</time> <span class="event"><a href="http://www.meetup.com/sfhtml5/events/219966671/">SFHTML, San Francisco</a></span></li>
        <li><time>May 9&ndash;13</time> <span class="event"><a href="http://lanyrd.com/2015/btconfdus/">Beyond Tellerand, D&uuml;sseldorf</a> &amp; <a href="http://beyondtellerrand.com/events/duesseldorf-2015/workshops/the-dom-in-motion">DOM in Motion workshop</a></span></li>
    </ul>
</div>