<div class="shameless">
    <div class="workshops">
        <h2><span aria-hidden="true" data-icon="&#10025;"></span>Training Online and In Person<span aria-hidden="true" data-icon="&#10025;"></span></h2>
        <ul>
            <li><time>Jan 2015</time> Practical Cartooning for Technical Folk, online course, class full</li>
            <li><time>Feb 2015</time> <a href="/training">Practical Cartooning for Technical Folk</a>, online course</li>
        </ul>
        <p>Available to train your team to use web animation for better user experiences! <a href="https://d13yacurqjgara.cloudfront.net/users/19691/screenshots/1828504/attachments/304441/User-centered_Animation_and_Motion_Design_for_the_Web.pdf">See also this PDF.</a></p>
    </div>
    <div class="mail">
        <a href="http://eepurl.com/Gxv1j" class="big-cta">Join my mailing list <span aria-hidden="true" data-icon="&#10230;" class="icon"></span></a></h2>
    </div>
</div>