<div class="shameless">
    {% include schedule.html %}
    <div class="mail cta">
        <h2 class="cta-title">Do you love web animation and digital storytelling?</h2>
        <div class="cta-content">
            <p>Sign up for my mailing list and get updates when I post new projects, blogs, workshops, and shennigans.</p>
        </div>
        <a href="http://eepurl.com/Gxv1j" class="big-cta">Join my mailing list <span aria-hidden="true" data-icon="&#10230;" class="icon"></span></a>
    </div>
</div>