%blog-links {
    a:link, a:visited, a:hover, a:active, a:focus {
        color: $mauve;
        text-decoration: none;
    }
    a:visited { color: $lavender;}
    a:hover, a:active, a:focus {
        background-color: $lavender;
        color: adjust-saturation(adjust-lightness($lavender, -50%), -40%);
    }
}

%alt-links {
    a:link, a:visited, a:hover, a:active, a:focus {
        color: adjust-saturation(adjust-lightness($mauve, -15%), -20%);
        text-decoration: underline;
    }
    a:visited {
        color: adjust-saturation(adjust-lightness($lavender, -15%), -20%);
    }
    a:hover, a:active, a:focus {
        background-color: $lavender;
        color: adjust-saturation(adjust-lightness($lavender, -40%), -20%);
        text-decoration: none;
    }
}

%contrast-links {
    a:link, a:visited, a:hover, a:active, a:focus {
        color: adjust-saturation(adjust-lightness($mauve, -40%), -10%);
        text-decoration: underline;
    }
    a:visited {
        color: adjust-saturation(adjust-lightness($lavender, -40%), -10%);
    }
    a:hover, a:active, a:focus {
        background-color: $lavender;
        color: adjust-saturation(adjust-lightness($lavender, -60%), -20%);
        text-decoration: none;
    }
}

.google-rachel {
    position: relative;
    z-index: 2;
    @extend %clearfix;
    @include margin-trailer(1/3);
    input {
        box-sizing: border-box;
        display: block;
        @include margin-trailer(1/3);
        width: 100%;
    }
    input[type=search] {
        background: rgba(#fff, .5);
        border: 0; padding: .5em;
    }
    input[type=submit] {
        @include buttonator(adjust-lightness($cyan, -10%), adjust-lightness($lime, -10%), .5em);
    }
}

#blogs-from-2015-ref {
    h3 { color: $bg_blue }
}
#blogs-from-2014-ref {
    background: #c9d2d9;
    color: $grey_dark;
    @extend %alt-links;
    h3 { color: #c9d2d9 }
}
#blogs-from-2013-ref{
    background: #afb9c0;
    color: adjust-lightness($grey_dark, -10%);
    @extend %alt-links;
    h3 { color: #afb9c0; }
}
#blogs-from-2012-ref{
    background: #96a0a8;
    color: adjust-lightness($grey_dark, -20%);
    @extend %contrast-links;
    h3 {color: #96a0a8;}
}
#blogs-from-2011-ref{
    background: #7c838d;
    color: adjust-lightness($grey_dark, -30%);
    @extend %contrast-links;
    h3 { color: #7c838d;}
}
#blogs-from-2010-ref{
    background: #646d77;
    color: adjust-lightness($grey_light, 20%);
    @extend %blog-links;
    a:link, a:visited, a:hover, a:active, a:focus {
        color: adjust-lightness($mauve, 10%);
        text-decoration: none;
    }
    a:visited { color: adjust-lightness($lavender, 10%);}
    a:hover, a:active, a:focus {
        background-color: adjust-lightness($lavender, 10%);
        color: adjust-saturation(adjust-lightness($lavender, -50%), -40%);
    }
    h3 { color: #646d77;}
    figure {
        a:link, a:visited { text-decoration: underline;}
        padding-bottom: 0;
        @include padding-leader(2);
        @extend %clearfix;
    }
}
#blogs-from-2009-ref{
    background: #4a535f;
    color: adjust-lightness($grey_light, 10%);
    @extend %blog-links;
    h3 { color: #4a535f; }
}
#blogs-from-2008-ref{
    background: $grey_dark;
    color: $grey_light;
    @extend %blog-links;
    h3 { color: $grey_dark; }
}
.archive-articles {
    @include margin-leader(-2);
    @include discography(h2, $lavender, $mauve, adjust-saturation(adjust-lightness($lavender, -40%), -40%), adjust-saturation(adjust-lightness($lavender, 10%), -20%));
    & + .archive-bloggage { //
        @include margin-leader(-2/3);
        @extend %alt-links;
    }
    h2 { //
        top: rhythm(14/3);
    }
}
.title-bloggage {
    background-color: adjust-lightness($bg_blue, -30%);
    @extend %bleed-entry;
    @include padding-trailer(2);
    @include padding-leader();
    h2 {
        @extend %t-xxxlarge;
        @extend %fontOstrich;
        @include margin-trailer(2/3);
        text-transform: uppercase;
        color: $bg_blue;
    }
}
.archive-blog {
    @include padding-trailer(2);
    h3 {
        @extend %color-block-title;
    }
    figcaption {
        @include padding-leader();
    }
    figure { margin: 0;}
    img {
        width: 100%;
        max-width: 500px;
    }
}
.archive-articles, .archive-bloggage, .archive-blog {
    @extend %clearfix;
    @extend %bleed-entry;
    @include padding-leader(2/3);
    @extend .columnsx2;
    @extend %color-block;
    ul {
        @include margin-leader(1);
        position:relative;
        z-index: 2;
    }
    li {
        padding-right: gutter(4);
    }
}