#archive-featured {
	@extend %clearfix;
	li {
		@include span-columns(2, 6);
		height: rhythm(32);
		overflow: hidden;
		position: relative;
	}
	li:nth-child(3){
		@include omega();
	}
	img {
		display: block;
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: auto;
	}
	h2 {
		color: $black;
		font-family: $league;
		@include adjust-font-size-to(32px);
		@include rotate(-90deg);
		@include transform-origin(bottom, right);
		@include margin-leader(7);
		@include opacity(.15);
		position: absolute;
		top: 0; left: -1em;
		text-transform: uppercase;
	}
	h3 {
		@include ellipsis();
		@include adjust-font-size-to(24px);
		background: $bg_blue;
		font-family: $league;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-decoration:none;
	}
}

.gsc-control-cse { 
	background: none !important;
	border: none !important;
	@include margin-trailer(8);
	padding: 0 !important;
}

#archive-list {
	font-family: $league;
	h2 {
		color: $grey;
		@include adjust-font-size-to(32px);
	}
	> li { 
		@include margin-trailer(4);
		@include span-columns(3,6);
		&:nth-child(even){
			@include omega;
			float: left;
		}
		&:nth-child(odd){
			clear: left;
		}
	}
	li li {
		@include margin-trailer(2, 24px);
		@include adjust-font-size-to(24px);
	}
}