// Susy Grids
$susy: (
    columns: 15,
    gutters: .3107,
    gutter-position: inside,
    debug: (
        // image: show
    )
);
$colNum: 9;

// Animations
$easeBounce: cubic-bezier(.24,.88,.47,1.16);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);


// Site Colors

$black: #141f31;
$grey: #5f697a;
$grey_light: #bbc8ce;
$grey_dark: #333b47;
$bg_blue: #e3edf2;
$blue_active: #dfeff6; //more saturated
$blue_light: #e3edf2;
$lime: #ced92e;
$blade: #67B877;
$cyan: #0097c0; //a bit bright on the bg_blue
$lavender: #a69feb;
$mauve: #c774b3;
$magenta: #e64988;
$rust: #56001d;

$link:adjust-lightness($magenta, -20%);
$link-visited:adjust-lightness($mauve, -20%);