// Susy Grids

$total-columns  : 9;             // a 12-column grid
$column-width   : 90px;            // each column is 4em wide
$gutter-width   : 40px;            // 1em gutters between columns
$grid-padding   : 0;  // grid-padding equal to gutters


// Site Colors

$black: #141f31;
$dark_grey: #333b47;
$grey: #5f697a;
$bg_blue: #e3edf2;
//$lite_blue: #dfeff6; //more saturated
$lime: #ced92e;
$cyan: #0097c0; //a bit bright on the bg_blue
$lavender: #a69feb;
$mauve: #c774b3;
$magenta: #e64988;
$rust: #56001d;

$link:$rust;
$link-visited:darken($rust,10%);


// Vertical Rhythm
$browser-default-font-size: 16px;
$relative-font-sizing: true;
$base-font-size: 16px;
$base-line-height: 6px;
@include establish-baseline;
	

// Font Families

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/fonts/league_gothic-webfont.eot');
    src: url('/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league_gothic-webfont.woff') format('woff'),
         url('/fonts/league_gothic-webfont.ttf') format('truetype'),
         url('/fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OstrichSansMedium';
    src: url('/fonts/ostrich-regular-webfont.eot');
    src: url('/fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-regular-webfont.woff') format('woff'),
         url('/fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('/fonts/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RNicons';
    src: url('/fonts/rn-icons.eot');
    src: url('/fonts/rn-icons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rn-icons.woff') format('woff'),
         url('/fonts/rn-icons.ttf') format('truetype'),
         url('/fonts/rn-icons.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}

$league: 'LeagueGothicRegular', sans-serif;
$ostrich: 'OstrichSansMedium', sans-serif;
$georgia: 'Georgia', serif;
$monospace: monospace;
$franklin: franklin-gothic-urw, sans-serif;
    $bold: 700;
    $normal: 400;

// Icon short-list
/*
deviantart: "\e000" &#57344

feed: "\e001" &#57345

twitter: "\e002" &#57346

google-plus: "\e005" &#57349

forrst: "\e006" &#57350

dribbble: "\e003" &#57347

codepen "\e004" &#57348

linkedin: "\e007" &#57351

star: "\2729" &#10025

arrow-right: "\27f6" &#10230

arrow-left: "\27f5" &#10229

heart: "\2764" &#10084

headphones: "\e008" &#57352

*/