// html, body { min-height: 100%;}

body {
    color: color(copy);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    @extend %default-links;
    @extend %t-medium;
}

// .container {
//     @extend %clearfix;
//     position: absolute;
//     top: 0; left: 0;
//     width: 100%;
//     min-height: 100%;
//     overflow: hidden;
// }

time {
    @extend %fontItalic;
}

.copyright {
    @extend %t-small;
    // @include padding-leader(1/3);
    // @include margin-leader(2);
    // @include padding-trailer(2/3);
    // @include margin-trailer(-1/3);
    // @extend %bleed-entry;
    @extend %fontItalic;
    // text-align: right;
    // body[data-location=home] & {
    //     display: none; // because transform is shite on my margins!
    // }
    // body[data-location=archive] &, body[data-location=speaking] & {
    //     margin-top: 0
    // }
}

// .content-text .anchorjs-link {
//     border-color: $link $link transparent;
//     border-width: 1.25rem .25rem .25rem;
//     border-style: solid;
//     margin: .25rem 0 0 .25em;
//     padding: 0 !important;
//     display: inline-block;
//     opacity: .5 !important;
//     transition-property: opacity, background-color;
//     transition-timing-function: $easeOutQuint;
//     transition-duration: 250ms;
//     &:hover, &:active, &:focus {
//         border-color: $magenta $magenta transparent;
//         background: none;
//         opacity: 1 !important;
//     }
// }