.entry-header {
    @include padding-trailer(2/3);
}

header .meta {
    @extend %t-small;
    font-family: $georgia;
    font-style: italic;
    @include padding-trailer(2/3);
    a:link, a:visited, a:hover, a:active, a:focus {
        color: darken($cyan, 40%);
    }
}

.content-text > h1:first-child {
    background-color: adjust-lightness($mauve, -20%);
    color: adjust-lightness($mauve, 20%);
    @extend %t-xxxlarge;
    @extend %fontLeague;
    text-transform: uppercase;
    @extend %bleed-entry;
    @include padding-trailer();
    @include padding-leader();
    @include margin-leader(-1/3);
    @include margin-trailer(2);
    + .tagline{
        background-color: adjust-lightness($mauve, -20%);
        color: adjust-lightness($mauve, 10%);
        @extend %t-medium;
        font-family: $georgia;
        font-style: italic;
        text-align: right;
        @extend %bleed-entry;
        @include padding-trailer();
        @include margin-leader(-3);
        @include margin-trailer(2);
    }
    + h2, + h3 {
        padding-top: 0;
    }
}

.entry-title {
    @extend %t-xxlarge;
    @extend %fontOstrich;
    @include padding-leader();
}

.content-text {
    word-wrap: break-word;
    p, ul, ol, .video, li {
        @include padding-leader();
        &:first-child {
            padding-top: 0;
        }
    }
    ol {
        list-style: decimal outside;
    }
    ul li {
        position: relative;
        &:before {
            @extend %icon;
            color: $cyan;
            content: "\2729";
            opacity: .25;
            position: absolute;
            left: -(rhythm()); top: rhythm();
            font-size: rhythm();
        }
        &:first-child:before {
            top: 0;
        }
    }
    #{headings(6)} {
        + p, + ul, + ol, + .video {
            padding: 0;
        }
        + ul li:first-child, + ol li:first-child {
            @include padding-leader();
        }
        + ul li:first-child:before {
            top: rhythm();
        }
    }
    li {
        p {
            padding: 0;
            @include padding-leader(2/3);
        }
        p:first-child {
            padding: 0;
        }
    }
    h2, h3 {
        @extend %t-xlarge;
        @include padding-leader(5/3);
        text-transform: uppercase;
    }
    h2 { @extend %fontLeague; }
    h3 { @extend %fontOstrich; }
    a { padding: 2px;}
    a:link {color: $link;}
    a:visited {color: $link-visited;}
    a:hover, a:active, a:focus {
        background: $magenta;
        color: #fff;
        text-decoration: none;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .video {
        max-width: 100%;
        margin: 0 auto;
    }
    figure {
        line-height:0;
        // margin-left: -(span(.5) + gutter(11));
        text-align: center;
        // width: span(10.5 of 9) + gutter(11);
        @include padding-trailer();
    }
    figcaption {
        @extend %t-base;
        @include padding-leader(1/3);
        font-family: $georgia;
        font-style: italic;
        // margin: 0 auto;
        // width: span(9 of 10.5);
        em, i { font-style: normal;}
    }
    code {
        color: adjust-lightness($mauve, -20%);
        font-family: $monospace;
    }
    pre {
        background: adjust-lightness($mauve, -20%);
        color: #fff;
        font-family: $monospace;
        overflow: auto;
        @extend %bleed-entry;
        @include padding-leader(1/3);
        @include padding-trailer(1/3);
        @include margin-trailer(2/3);
        // &:hover {
        //  overflow: visible;
        //  width: auto;
        // }
        + p cite:first-child {
            @include margin-leader(-1);
            font-family: $georgia;
            display: block;
            text-align: right;
            &:before {content: "\2014"; }
        }
    }
    cite {font-style: italic;}
    blockquote {
        &:first-child {
            margin: 0;
        }
        color: $grey;
        @extend %fontLeague;
        @extend %t-large;
        margin: rhythm() auto 0;
        @include padding-leader();
        @include padding-trailer();
        position: relative;
        text-align: center;
        &:before {
            content: "\201C";
            font-family: $georgia;
            position: absolute;
            left: -.35em;
            font-size: 3em;
            @include opacity(.4);
            top: .5em;
        }
        cite, + p cite {
            color: lighten($grey, 10%);
            margin: 0 auto;
            font-family: $georgia;
            display: block;
            text-align: right;
            &:before {content: "\2014"; }
            @include margin-leader(-1);
        }
    }
}

.post-nav {
    @extend %clearfix;
    @include trailing-border(1px, 0/3);
    @include leading-border(1px, 0/3);
    margin: rhythm() 0;
    color: $grey;
    a:link, a:visited {
        color: $link;
    }
}

.post-nav-link {
    display: block;
    @include ellipsis();
    &:hover, &:active, &:focus {
        background: $grey;
        color: $blue_active !important;
        text-decoration: none;
    }
}

.next-post {
    text-align: right;
}

#comments h1 {
    color: $grey_dark;
    @extend %t-xxlarge;
    @include padding-leader(2/3);
    @include padding-trailer(1/3);
    text-transform: uppercase;
    @extend %fontLeague;
}

.note {
    font-family: $georgia;
    font-style: italic;
}

time {
    color: $grey_dark;
}

.source {
    font-family: $georgia;
    font-style: italic;
    display: block;
}

@include breakpoint($with-sidebar){
    time, source {
        @include typeSize(small);
    }
}

.audience-meta {
    p {
        font-family: $georgia;
        font-style: italic;
        @extend %t-small;
        padding-right: 1em;
    }
    h4 {
        font-family: $league;
        text-transform: uppercase;
        @extend %t-base;
    }
    h4, h4 + p { display: inline; }
    + p {
        @include padding-leader(1/3);
    }
}