%default-links {
  	a:link {
		color: color(link);
	}
    a:visited { color: color(linkVisited);}
    a:hover, a:active, a:focus {
        color: color(linkActive);
    }
}

%alt-links {
    a:link {
        color: color(linkAlt);
    }
    a:visited { color: color(linkAltVisited);}
    a:hover, a:active, a:focus {
        color: color(linkAltActive);
    }
}


// %bleed-entry {
//     margin-left: -(span(3 of 9 wider));
//     padding-left: span(3 of 9 wider);
//     margin-right: -(span(1 of 9 wider));
//     padding-right: span(1 of 9 wider);
// }

// %undo-ul-bs {
//     ul li {
//         margin-left: 0;
//     }
//     ul li:before {
//         content:"" !important;
//     }
// }

// %rotated-title {
//     @extend %fontOstrich;
//     @extend %t-xxlarge;
//     padding: 0 !important;
//     @include breakpoint($double-columns){
//         transform: rotate(-90deg);
//         transform-origin: center left;
//         position: absolute;
//         left: span(3 of 12) + (2*gutter(12));
//     }
// }

// %color-block {
//     position: relative;
//     @extend %bleed-entry;
//     @include padding-leader(2);
// }

// %color-block-title {
//     @extend %bleed-entry;
//     @extend %fontLeague;
//     @extend %t-xxxlarge;
// }

// .columnsx2 {
//     @extend %undo-ul-bs;
//     @include breakpoint($double-columns){
//         & > ul {
//             column-width: span(4 of 9);
//             column-count: 2;
//             & > li {
//                 break-inside: avoid;
//             }
//             & p {
//                 padding-top: 0;
//             }
//             & p:not(:last-child) {
//                 @include padding-trailer();
//             }
//         }
//     }
//     & > ul {
//         & > li {
//             @include adjust-leading-to(3/3);
//             padding-top: 0;
//             margin: 0;
//             @include padding-trailer(1);
//             &:first-child {
//                 padding-top: 0 !important;
//             }
//         }
//     }
// }

// %discography {
//     @include padding-leader(2/3);
//     ul {
//         @include margin-leader(1);
//         position:relative;
//         z-index: 2;
//         @include breakpoint($double-columns){
//             margin-left: span(1 of 9) -  gutter(9);
//         }
//     }
//     li {
//         padding-right: gutter(4);
//     }
// }

// %time-li {
//     li {
//         time {
//             @include adjust-leading-to(3/3);
//             display: inline-block;
//         }
//     }
// }