.featurette {
	@include padding-leader(10);
	@include padding-trailer(10);

	@include keyframes(show) {
	  100% {opacity:1;}
	}

	@include keyframes(hide) {
	  100% {opacity:0;}
	}

	.body {
	  background: url(http://stash.rachelnabors.com/codepen/spinner/bg_spinner-body.png);
	  left: 50%; margin-left: -62px;
	  width: 224px; height: 332px;  
	}

	.message p:nth-child(1) { 
	  @include animation( 
	    show .5s 1 forwards,
	    hide .5s 1 3s forwards
	)};

	.message p:nth-child(2) { 
	  @include animation( 
	  	    show .5s 1 4s forwards,
	  	    hide .5s 1 7s forwards
	)}

	.message p:nth-child(3) { 
	  @include animation(
	    show .5s 1 9s forwards,
	    hide .5s 1 10s forwards
	)}

	.message p:nth-child(4) { 
	  @include animation( 
	    show .5s 1 11s forwards,
	    hide .5s 1 12s forwards
	)}

	.message p:nth-child(5) { 
	  @include animation( 
	    show .5s 1 12s forwards,
	    hide .5s 1 16s forwards
	)}

	.message p:nth-child(6) { 
	  @include animation( 
	    show .5s 1 17s forwards,
	    hide .5s 1 21s forwards
	)}

	.message p:nth-child(7) { 
	  @include animation( show .5s 1 26s forwards)}

	.face {
	  @include animation(
	    pfft 1s steps(1) 1 8s,
	    haha .5s steps(2, end) 11s 10,
	    oops 10s steps(1) 16s 1);
	  @include animation-fill-mode(forwards);
	  background: url(http://stash.rachelnabors.com/codepen/spinner/sprite_spinner-expressions.png);
	  top: 73px; left: 120px;
	  width: 133px; height: 121px;
	}

	@include keyframes(pfft) {
	  0% { background-position: 0 0;}
	  100% {background-position: 0 -121px;}
	}

	@include keyframes(haha) {
	  0% { background-position: 0 -243px;}
	  100% {background-position: 0 -486px;}
	}

	@include keyframes(oops) {
	  0% { background-position: 0 -486px;}
	  100% {background-position: 0 -607px;}
	}

	.pupils { 
	  background: url(http://stash.rachelnabors.com/codepen/spinner/bg_spinner-pupils.png);
	  opacity: 0;
	  top: 47px; left: 27px;
	  width: 72px; height: 12px;
	  @include animation( 
	    show .01s linear 1 16s forwards,
	    uh-oh 5s 1 18s,
	    hide .01s linear 1 26s forwards
	)}

	@include keyframes(uh-oh) {
	  0%, 100% {margin-left: 0;}
	  25% {margin-left:7px;}
	  75% {margin-left:-7px;}
	}

	.hands {
	  @include animation( spin .5s steps(5) infinite);
	  background: url(http://stash.rachelnabors.com/codepen/spinner/sprite_spinner-hands.png);
	  width: 307px; height: 202px;
	}

	@include keyframes(spin) {
	  0% {background-position: 0 0;}
	  100% {background-position: 0 -1015px;}
	}

	.rachel {  
	  width: 307px; height: 332px;
	  position: absolute;
	  top: 50%; left: 50%;
	  margin-left: -152px;
	  margin-top: -166px;
		.ir { 
		  position: absolute;
		  bottom: 0;
		}
	}

	.spinner {
	  background: $magenta;
	  overflow: hidden;
	  margin: 0 auto;
	  position: relative;
	  width: space(3, 6); height: rhythm(40);
	}

	.message p {
	  @include animation-fill-mode(forwards);
	  opacity: 0;
	  text-align: center;
	  margin-left: -150px;
	  margin-top: 160px ;
	  position: absolute;
	  top: 50%; left: 50%;
	  width: 300px;
	}
}