//Functions and Mixins go here! Keep them 100% out of all other partials.

@mixin buttonator($button-color: $blue, $text-color: #fff, $border-radius: .5em) {
  background: $button-color;
  @include border-radius($border-radius);
  color: $text-color !important;
  border: 1px adjust-lightness($button-color, -10%) solid;
  @include text-shadow((adjust-lightness($button-color, -10%)) 0 1px 0);
}

//bleed mixin http://stackoverflow.com/questions/11223927/susy-how-to-extend-content-box-to-cover-grid-padding-as-well
@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

// SVG w/ PNG fallback for IE8 cuz all browsers that support multiple bgs support SVG. 
// via http://germanforblack.com/post/43975575422/protip-all-browsers-that-support-svg-background-images
// $public_path: ./;
 
// @mixin vector-bg-with-fallback($name) {
//   background-image: url('#{$public_path}images/#{$name}.png');
//   background-image: none, url('#{$public_path}images/#{$name}.svg');
// }

// converts px to em values via http://thesassway.com/intermediate/responsive-web-design-part-1
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

// CSS Filters mixins via Eppstein https://gist.github.com/chriseppstein/2884618
@mixin filter( $var ) {
  -webkit-filter: $var;
  -moz-filter: $var;
  -ms-filter: $var;
  -o-filter: $var;
  filter: $var;
}