#body-home {
	background: $black;
	.container {float: right;}
	strong { font-weight: normal;}
	em {font-style: normal;}
}

.main-show {
	@include span-columns(5, 9);
}

.main-crossroads {
	background: $bg_blue;
	@include span-columns(3 omega, 9);
	padding-left: gutter(9)*.5;
	padding-right: gutter(9);
	position: relative;
}

.main-tagline {
	color: $magenta;
	font-family: $league;
	@include adjust-font-size-to(36px, 6);
	text-align: center;
	@include rotate(-10deg);
	strong { 
		font-family: $ostrich;
		@include adjust-font-size-to(84px, 6, 36px);
	}
	em { 
		display: block;
		@include adjust-font-size-to(24px, 6, 36px);
	}
	a:link, a:visited, a:hover, a:active { color: #fff;}
	[data-icon]:before { 
		display: inline;
		font-size: .5em;
		position: relative;
		top: -.2em;
	}
}

.home-module {
	@include margin-trailer(6);
	@extend %default-links;
	time, .source {
		color: $dark_grey;
		font-family: $georgia;
		font-style: italic;
		@include adjust-font-size-to(12px);
		white-space: nowrap;
	}
	header {
		position: absolute;
		left: (space(1, 3) + gutter(3)) * -1;
		text-align: right;
		width: space(1, 3) + gutter(3)/2;
		a {@include adjust-font-size-to(14px);}
		a:link, a:visited, a:hover, a:active {
			color: $cyan;
		}
	}
	ul {
		@include adjust-leading-to(4, 16px);		
		@include padding-leader(2);
	}
	li {@include margin-trailer(2, 16px);	}
}

.home-module-title {
	color: #fff;
	font-family: $league;
	@include adjust-font-size-to(24px, 7, 16px);
	text-transform: uppercase;
	[data-icon]:before {
		font-size: .8em;
		margin-right: .15em;
	}
}

.hotspots {
	background: $dark-grey;
	color: #fff;
	font-family: $ostrich;
	margin-left: gutter(3)/2 * -1;
	padding-left: gutter(3)/2;
	padding-right: gutter(3);
	@include padding-trailer(4);
	@include padding-leader(4);
	@extend %clearfix;
	text-transform: uppercase;
	width: 100%;
	.mixes {
		background: $dark-grey;
		$mix-width: 13;
		@include border-radius(50%);
		padding-top: rhythm(4);
		padding-bottom: rhythm(2);
		width: rhythm($mix-width);
		height: rhythm($mix-width - 6);
		position: absolute; top: 0;
		left: rhythm($mix-width/2) * -1;
		@include adjust-font-size-to(24px, 4);
		text-align: center;
		.icon { 
			display: block;
			font-size: 1.25em;
		}
		a {
			position: relative;
			left: rhythm($mix-width/6) * -1;
		}
		a:link, a:visited, a:hover, a:active {
			color: $cyan;
			text-decoration: none;
			@include transition(color, ease-in, .25s);
		}
		a:hover, a:active, a:focus {
			color: $magenta;
		}
	}
	.bravado {
		@include adjust-font-size-to(48px, 6);	
		position: relative;
		float: left;
		width: 3.25em;
		strong {
			font-family: $league;
			position:absolute;
			top: 1.5em;right: 1em;
			@include rotate(90deg);
			@include transform-origin(100%, 100%);
			@include adjust-font-size-to(24px, 6, 48px);
		}
		//Add media query if it's parent is less than 5.5em
	}
	.site-cons {
		@include padding-leader(3, 60px);
		@include adjust-font-size-to(64px, 6);
		float: right;
		text-align: right;
		width: 2.25em;
		a {
			float: right;
		}
		.i_codepen { margin-right: .15em;}
	}
	a:link, a:visited, a:hover, a:active {
		color: $cyan;
		text-decoration: none;
		@include transition(color, ease-in, .25s);
	}
	a:hover, a:active, a:focus {
		color: $magenta;
	}
}

#dribbblins {
	clear: both;
	@include padding-leader(4);
	li {
		background: $magenta;
		line-height: 0;
		@include span-columns(1, 3);
		width: 32%;
		margin: 0 2% 0 0;
		&:nth-child(3) {margin: 0;}
	}
	img {
		height: auto; 
		max-width: 100%; 
		@include transition(background, ease-in, .25s);
	}
	a { display: block; height: 100%;}
	a:hover, a:active, a:focus{
		img { 
			@include opacity(.5);
			//@include filter( grayscale(100%)); causes jumpiness
		}
	}
}

.module-animation {
	ul {
		padding-top: .25em;
		@extend %clearfix;
	}
	li {
		background: $magenta;
		line-height: 0;
		float: left;
		overflow: hidden; //hides creepy 1px bottom line
		position: relative;
		width: 47%;
	}
	li:nth-child(even) {float: right;}
	li:nth-child(odd) {	clear: both;	}
	img { 
		height: auto; 
		max-width: 100%;
		@include transition(opacity, ease-in, .25s);
	}
	a:link, a:visited, a:hover, a:active{
		color: #fff;
		text-decoration: none;
		display: block;
		height: 100%;
	}
	.anim-title {
		background: rgba(desaturate($cyan, 30%), .9);
		display: block;
		@include adjust-leading-to(4, 16px);
		position: absolute;
		bottom: 0; left: 0;
		@include ellipsis();
		@include box-sizing(border-box);
		padding: 0 gutter(3)/2;
		width: 100%;
		@include transition(background, ease-in, .25s);
	}
	a:hover, a:active, a:focus{
		.anim-title {
			background: rgba(desaturate($magenta, 10%), .8);
		}
		img { 
			@include opacity(.5);
			//@include filter( grayscale(100%)); causes jumpiness
		}
	}
}

.home-footer {
	@include margin-trailer(6);
	li {
		@include adjust-font-size-to(24px);
		display: inline-block;
		margin-right: .25em;
		@include margin-trailer(2, 24px);
	}
	.contact {
		@include adjust-font-size-to(36px, 6, 16px);
		font-family: $league;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(color, ease-in, .25s);
		&:link, &:visited {
			color: $cyan;
		}
		&:hover, &:active, &:focus {
			color: $magenta;
		}
	}
	.icon {
		font-size: .8em;
	}
}

.social-footer {
	a {
		background: $cyan;
		display: block;
		font-size: rythm(6);
		@include border-radius(.25em);
		color: $bg_blue !important;
		padding: .25em .25em 0;
		text-decoration: none;
		@include transition(background, ease-in, .25s);
	}
	a:hover, a:active, a:focus{
		background: $magenta;
	}
}