//Core stylings
body {
	background: $bg_blue;
	font-family: sans-serif;
}
.container {
	background: $black;
	@include container();
	margin: 0;
	@include susy-grid-background;
}

.masthead {
	background: $black;
	color: #fff;
	@include padding-leader();
	@include span-columns(2, 9);
	margin-right: gutter(9)*.5;
	text-align: right;
	.site-logo {
		@include adjust-font-size-to(36px, 4, 24px);
		@include margin-trailer(4, 36px);
		&:link, &:visited {
			color: #fff;
		}
		&:hover, &:active, &:focus {
			color: $magenta;
		}
	}
	nav { 
		font-family: $league;
		text-transform: uppercase;
		@include padding-leader(1, 24px);
		@include padding-trailer(1, 24px);
		@include adjust-font-size-to(24px);
	}
	small {
		@include opacity(.5);
		@include adjust-font-size-to(12px)
	}
	a { display: block;}	
	a:link, a:visited, a:hover, a:active {
		color: $lavender;
		text-decoration: none;
	}
	a:hover, a:active, a:focus, .logo:hover, .logo:active, .logo:focus {
		color: $magenta
	}
}

.main {
	@include opacity(.75);
	background: $bg_blue;	
	color: $black;
	@include span-columns(6 omega, 9);
	padding-left: gutter(9)*1.5 + columns(1, 9);
  	@include adjust-leading-to(4);
  	a:link, a:visited, a:hover, a:active {
		color: $link;
	}
	a:visited { color: $link-visited;}
}

strong, b { font-weight: bold;}
em, i {font-style: italic;}

.headline {
	font-family: $ostrich;
	@include adjust-font-size-to(48px);
}