.available-to-train {
	@include margin-leader();
}

.takeaways {
	@include margin-leader();
	@include margin-trailer();
    @include discography(h4, $cyan, $blade, $grey_light, $grey_dark);
    min-height: 32ex;
    h4 {
    	color: $bg_blue;
    	@extend %fontLeague;
    	@extend %t-base;
    	text-transform: uppercase;
        top: rhythm(25/3);
    }
    ul > li:before {
        @extend %icon;
        color: $grey;
        content: "\27f6" !important;
        padding-right: .25em;
        position: relative;
		top: 0; left: 0;
		font-size: 1em;
    }
    ul ul { margin-top: 0;}
    li li {
        @include adjust-leading-to(2/3);
        padding-top: 0;
        @include padding-trailer(1);
    }
}

body[data-location=training] .copyright {
	@include margin-leader(-1);
}

.workshop-content > ul:first-child {
    @include padding-leader();
}