---
body_id: post
layout: default
---

<article class="hentry" role="article">
	<header class="entry-header">
		<h1 class="entry-title">{{ page.title }}</h1>
		<p class="meta">
			<time>{{ page.date | date_to_long_string }}</time>
			{% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
				| <a href="{{ site.url }}{{ page.url }}#disqus_thread">Comments</a>
			{% endif %}
		</p>
	</header>
	<div class="content-text">
		{{ content | expand_urls: root_url }}
	</div>

	{% include shameless-self-promotion.html %}

	<nav class="post-nav">
	  {% if page.previous.url %}
		<a class="prev-post post-nav-link" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><span aria-hidden="true" data-icon="&#10229;" class="icon"></span> {{page.previous.title}}</a>
	  {% endif %}
	  {% if page.next.url %}
		<a class="next-post post-nav-link" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} <span aria-hidden="true" data-icon="&#10230;" class="icon"></span></a>
	  {% endif %}
	</nav>
</article>

{% if site.disqus_short_name and page.comments != false %}
<section id="comments">
	<h1>Comments</h1>
	<div id="disqus_thread" aria-live="polite"></div>
	<script type="text/javascript">
		var disqus_shortname = '{{ site.disqus_short_name}}';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);

		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
{% endif %}
